<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width">
    <title>Ildar Absalyamov</title>
</head>
<body style="background-color:Silver">
    <h1>This is a Heading</h1>
    <p style="color:orange">This is a paragraph</p>
    <p title="I'm a tooltip">This is a paragraphtrtrtgf.</p>
    <p>----------</p>
    <a href="https://github.com/Forever-proglab"> My github account(forever-proglab) </a>
    <p>----------</p>
    <p> My telegram username(Ildar_54) </p>
    <p>----------</p>
    <a href="https://vk.com/ia408"> My VK account(ia408) </a>
    <p>----------</p>
    <p> My MAX ID(+79656488922) </p>
    <p>----------</p>
    <a href="https://lichess.org/@/Ildar_84"> My Lichess account </a>
    <ul>
        <li><a href="/education">education</a> </li>
        <li><a href="/">main page</a> </li>
    </ul>
</body>
</html>