<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Игра: замер времени</title>
</head>
<body>
    <h1>Игра: замерь время между нажатиями</h1>
    <p>Время: <span id="time-display">0</span> с</p>
  <button id="start-btn">Старт</button>
  <button id="stop-btn">Стоп</button>
  <button id="clear-btn">Сбросить таймер на ноль</button>
    <ul>
        <li><a href="/">main page</a> </li>
    </ul>

    <script>
        const timeDisplay = document.getElementById('time-display');
const startBtn = document.getElementById('start-btn');
const stopBtn = document.getElementById('stop-btn');
const clearBtn = document.getElementById('clear-btn');

let startTime, timerId;
let isRunning = false;

startBtn.addEventListener('click', () => {
  if (isRunning) return;
  isRunning = true;
  startTime = performance.now();
  clearInterval(timerId);
  timerId = setInterval(() => {
    const elapsed = ((performance.now() - startTime)/1000);
    timeDisplay.textContent = elapsed.toFixed(2);
  },);
});

stopBtn.addEventListener('click', () => {
  isRunning = false;
  clearInterval(timerId);
});
clearBtn.addEventListener('click', () => {
  isRunning = false;
  timeDisplay.textContent=0;
});
    </script>
</body>
</html>