<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width">
    <title>Ildar Absalyamov</title>
</head>
<body style="background-color:Silver">
    <h1>This is a Heading</h1>
    <p style="color:orange">This is a paragraph</p>
    <ul>
        <li><a href="/education">education</a> </li>
        <li><a href="/connect_me"> my accounts</a> </li>
        <li><a href="/documents"> documents</a> </li>
        <li><a href="/education">login</a> </li>
        <li><a href="/connect_me"> register</a> </li>
    </ul>
</body>
</html>